

.background-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/* Team Menu Dropdown */
.team-dropdown {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  
}

/* Submit Button Beside Team Menu Dropdown */
.get-roster-button {
  margin-left: 1rem;
}

/* Adds sticky header to tables so viewing stats for players
   is easier */
thead tr {
  position: sticky;
  top: 0;
  box-shadow: 0 1px black;
  background-color: white;
}

